@import "bourbon/bourbon";

/*--------------------------  START MEDIA REQUEST  --------------------------*/
$modular-scale-ratio: 1.05; //$golden=1.618 //bourbon
$modular-scale-base: 1em; //bourbon
$max-screen-width: (screen-0: 2600px,screen-1: 1900px, screen-2: 1440px, screen-3: 1200px, screen-4: 992px, screen-5: 768px, screen-6: 480px, screen-7: 320px);
// $max-screen-width: (screen0: 1440px, screen1: 1200px, screen2: 992px, screen3: 768px, screen4: 480px, screen5: 320px)
// col-4k  >= 2600px
// col-fhd >= 1900px
// col-hd  >= 1440px
// col-lg  >= 1200px
// col-md  >= 992px
// col-sm  >= 768px
// col-xs  < 768px and >= 480px and 320px
@for $i from 0 through 7 {
	@if map_has_key($max-screen-width, screen-#{$i}){
		@media only screen and (max-width :  map_get($max-screen-width, screen-#{$i})){
			h1,.h1{
				font-size: modular-scale(18 - $i); //bourbon function
			}
			h2,.h2{
				font-size: modular-scale(15 - $i); //bourbon function
			}
			h3,.h3{
				font-size: modular-scale(12 - $i); //bourbon function
			}
			h4,.h4{
				font-size: modular-scale(8 - $i); //bourbon function
			}
			h5,.h5{
				font-size: modular-scale(6 - $i); //bourbon function
			}
			h6,.h6{
				font-size: modular-scale(4 - $i); //bourbon function
			}
			p,ul,ol{
				font-size: modular-scale(4 - $i); //bourbon function
			}
			td, th{
				font-size: modular-scale(4 - $i); //bourbon function
			}
		}
	}
}

/*--------------------------  END MEDIA REQUEST  --------------------------*/
/* Переход */
/*ease, linear, ease-in, ease-out, ease-in-out, cubic-bezier(x1, y1, x2, y2), step-start, step-end, steps(количество шагов,start|end)*/
@mixin  my-transition($transition_property,$transition_time,$transition_timing_func,$transition_delay){
	@include transition-property($transition_property);//bourbon mixin
	@include transition-duration($transition_time);//bourbon mixin
	@include transition-timing-function($transition_timing_func);//bourbon mixin
	@include transition-delay($transition_delay);//bourbon mixin
}
/*Скругленные углы*/
@mixin my-border-radius($my_border_radius){
	@include border-top-radius($my_border_radius);//bourbon mixin
	@include border-right-radius($my_border_radius);//bourbon mixin
	@include border-bottom-radius($my_border_radius);//bourbon mixin
	@include border-left-radius($my_border_radius);//bourbon mixin
}
/*Задержка анимации*/
@mixin my-animation-delay($func_var_animation_delay){
	-webkit-animation-delay: $func_var_animation_delay; /*задержка анимации*/
  	-moz-animation-delay: $func_var_animation_delay; /*задержка анимации*/
  	-ms-animation-delay: $func_var_animation_delay; /*задержка анимации*/
  	-o-animation-delay: $func_var_animation_delay; /*задержка анимации*/
  	animation-delay: $func_var_animation_delay; /*задержка анимации*/
}
/*Количество итераций анимации*/
@mixin my-animation-iteration-count($func_var_iteration_count){
	-webkit-animation-iteration-count: $func_var_iteration_count; /*Количество итераций*/
  	-moz-animation-iteration-count: $func_var_iteration_count; /*Количество итераций*/
  	-ms-animation-iteration-count: $func_var_iteration_count; /*Количество итераций*/
  	-o-animation-iteration-count: $func_var_iteration_count; /*Количество итераций*/
  	animation-iteration-count: $func_var_iteration_count; /*Количество итераций*/
}
/*продолжительность анимации*/
/*infinite*/
@mixin my-animation-duration($func_var_animation_duration){
	-webkit-animation-duration: $func_var_animation_duration; /*продолжительность анимации*/
  	-moz-animation-duration: $func_var_animation_duration; /*продолжительность анимации*/
  	-ms-animation-duration: $func_var_animation_duration; /*продолжительность анимации*/
  	-o-animation-duration: $func_var_animation_duration; /*продолжительность анимации*/
  	animation-duration: $func_var_animation_duration; /*продолжительность анимации*/
}
/*Временная функция анимации*/
/*ease, linear, ease-in, ease-out, ease-in-out, cubic-bezier(x1, y1, x2, y2), step-start, step-end, steps(количество шагов,start|end)*/
@mixin my-animation-timing-function($func_var_animation_timing_function){
	-webkit-animation-timing-function: $func_var_animation_timing_function; /*продолжительность анимации*/
  	-moz-animation-timing-function: $func_var_animation_timing_function; /*продолжительность анимации*/
  	-ms-animation-timing-function: $func_var_animation_timing_function; /*продолжительность анимации*/
  	-o-animation-timing-function: $func_var_animation_timing_function; /*продолжительность анимации*/
  	animation-timing-function: $func_var_animation_timing_function; /*продолжительность анимации*/
}
/*Направление анимации*/
/*alternate,  alternate-reverse, normal, reverse*/
@mixin my-animation-direction($func_var_animation_direction){
	-webkit-animation-direction: $func_var_animation_direction;/*Направление анимации*/ 
	-moz-animation-direction: $func_var_animation_direction;/*Направление анимации*/
	-ms-animation-direction: $func_var_animation_direction;/*Направление анимации*/
	-o-animation-direction: $func_var_animation_direction;/*Направление анимации*/
	animation-direction: $func_var_animation_direction;/*Направление анимации*/
}
// Координаты точки, относительно которой будет происходить трансформация элемента.
// transform-origin: <x> <y> <z>
@mixin my-transform-origin($func_var_transform_origin_X,$func_var_transform_origin_Y){
	-webkit-transform-origin: $func_var_transform_origin_X $func_var_transform_origin_Y;
	-moz-transform-origin: $func_var_transform_origin_X $func_var_transform_origin_Y;
	-o-transform-origin: $func_var_transform_origin_X $func_var_transform_origin_Y;
	-ms-transform-origin: $func_var_transform_origin_X $func_var_transform_origin_Y;
	transform-origin: $func_var_transform_origin_X $func_var_transform_origin_Y;
}
/*Перед функцией my-animation должен быть создан @keyframes или
@-webkit-keyframes с именем совпадающим с $func_animation_name*/
@mixin my-animation( $func_animation_name, $func_animation_duration,
	$func_animation_timing_function, $func_animation_delay,
	$func_animation_iteration_count, $func_animation_direction){
	@each $pref in -webkit-, -moz-, -o-, -ms-{
    	#{$pref}animation: $func_animation_name $func_animation_duration
		$func_animation_timing_function $func_animation_delay
		$func_animation_iteration_count $func_animation_direction;
 	}
 	animation: $func_animation_name $func_animation_duration
		$func_animation_timing_function $func_animation_delay
		$func_animation_iteration_count $func_animation_direction;
}//@include  my-animation( run, 2s, liner, 0s, 1, normal)
/*Кнопка*/
@mixin my-button(){
	outline: none;
	/*Градиент*/
	// @include background-image(linear-gradient(rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%));//bourbon mixin
	@include my-box-shadow(0 0 1px rgba(255,255,255,.2) inset,0 3px 5px rgba(0,1,6,.5));
 	&:hover:not(:disabled){
 		top: -0.1em;
		left: -0.1em;
		@include my-box-shadow(0 0 2px rgba(255,255,255,.3) inset,0 4px 6px rgba(0,1,6,.6));
	}
	&:active:not(:disabled){
		top: 0.1em;
		left: 0.1em;
		@include my-box-shadow(0 0 1px rgba(0,0,0,.5) inset,0 2px 3px rgba(0,0,0,.5) inset)
	}
	&:disabled{}
	
}
@mixin my-box-shadow($arg...){
		-webkit-box-shadow: $arg;
		-moz-box-shadow: $arg;
		box-shadow: $arg;
}

.inline-block {
	display: inline-block;
	vertical-align: top;
	&-bottom{
		display: inline-block;
		vertical-align: bottom;
	}
}
html{
	min-width: 320px;
	// overflow-x: hidden;
}
body{
	font-family: "RalewayRegular", sans-serif;
	font-weight: normal;
	position: relative;
	line-height: 1.42857;
	-webkit-font-smoothing: antialise;
	letter-spacing: 1px;
	font-size: 14px; 
}
body input:focus:required:invalid,
body textarea:focus:required:invalid{
	color: red;
}
body input:required:valid,
body textarea:required:valid{
	color: green;
}
button, html, input, select, textarea {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
a{
	color: #004d99;
	text-decoration: none;
	&:hover{
		color: #06c;
		text-decoration: none;
		-o-transition: color .1s ease;
		transition: color .1s ease;
	}
	&:focus{
		outline: none;
		text-decoration: none;
	}
}

*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

// html.js .loader {
// 	background: none repeat scroll 0 0 #ffffff;
// 	bottom: 0;
// 	height: 100%;
// 	left: 0;
// 	position: fixed;
// 	right: 0;
// 	top: 0;
// 	width: 100%;
// 	z-index: 999;
// }
// html.js .loader_inner {
// 	background-image: url("../img/preloader.gif");
// 	background-size: cover;
// 	background-repeat: no-repeat;
// 	background-position: center center;
// 	background-color: #fff;
// 	height: 60px;
// 	width: 60px;
// 	margin-top: -30px;
// 	margin-left: -30px;
// 	left: 50%;
// 	top: 50%;
// 	position: absolute;
// }
// *{background:linear-gradient(135deg, #81F5BA 1000%,$headerbgc 1000%);}
button, 
button:active, 
button:focus,
button:hover,
button:checked,
button:default,
input, a, img{
	outline: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	user-select: none;
}
.hidden{
	display: none;
}
//*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*