# my temp file

# virtual machine crash logs
hs_err_pid*


# Sass files
.sass-cache/
*.css.map

#Temp Files
data/
#img/

# Package Files #
*.jar
*.war
*.ear
# java file
*.class
# Mobile Tools for Java (J2ME)
.mtj.tmp/
#Folder idea
.idea/
.idea/*.xml
#Sublime Text 3
*.sublime-workspace
*.sublime-project


#Word Press
*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz